#donate{
    margin: 64px 0;
}

.donate-container > h3 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: center;
}
.donate-container > p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 12.8px;
    padding: 16px 0;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: center;
}
.price-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.twhite{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 32px 65px;
    background: rgb(255, 255, 255);
}
.addingcolor{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 32px 65px;
    background: rgb(198, 228, 214);
}


.donate-container > div > input {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 16px 32px;
    width: 100%;
    border-radius: 16px;
    text-align: center;


}
.donate-container > .input-div{
    padding: 20px;
} 
.btn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}  
.btn > button {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 14.4px;
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: 0%;
    padding: 13.6px 27.2px;

}