footer{
    background: white;
    padding: 80px;
}
footer h3 {
    background: transparent;
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;

}
footer div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
}
footer img {
    padding: 25px;
    background: transparent;
}